Account Onboarding/main/default/flows/Escalate_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_post</name>
        <label>Chatter post</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Show_toast</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatterBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Show_toast</name>
        <label>Show toast</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Application successfully escalated</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Credit_Manager</name>
        <choiceText>Credit Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_Manager</name>
        <choiceText>Legal Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Describe</promptText>
        </userInput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Manager</name>
        <choiceText>Sales Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Manager</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Escalate Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalate Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Escalation_Screen</name>
        <label>Escalation Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Chatter_post</targetReference>
        </connector>
        <fields>
            <name>lkupUser</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Escalate To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Escalation_Type</name>
            <choiceReferences>Credit_Manager</choiceReferences>
            <choiceReferences>Legal_Manager</choiceReferences>
            <choiceReferences>Sales_Manager</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Credit_Manager</defaultSelectedChoiceReference>
            <fieldText>Escalation Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Escalation_Notes</name>
            <fieldText>Escalation Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Escalate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Escalation_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>chatterBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!lkupUser.recordId}] please see the following Application Escalation from @[{!$User.Id}]:

{!Escalation_Notes}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
